[lightscroll] {
  position: relative;
  overflow-y: scroll;
}
[lightscroll].scroll-dissabled .scroll-bar {
  display: none;
}
[lightscroll]:hover > .scroll-bar {
  background: rgba(129, 129, 129, 0.65);
}
[lightscroll]:hover > .scroll-bar .scroll {
  opacity: 0.8;
}
[lightscroll] .scroll-bar, [lightscroll] .scroll {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
[lightscroll] .scroll-bar {
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
}
[lightscroll] .scroll-bar:hover .scroll-bar {
  background: #818181;
}
[lightscroll] .scroll-bar:hover .scroll-bar .scroll {
  opacity: 1;
}
[lightscroll] .scroll-bar .scroll {
  position: relative;
}
[lightscroll] .scroll-bar .scroll:hover {
  cursor: pointer;
}
[lightscroll] .scroll-bar, [lightscroll] .scroll {
  border-radius: 3px;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
[lightscroll] .scroll-bar {
  height: 94%;
  top: 3%;
  width: 6px;
  right: 3px;
  background: rgba(169, 169, 169, 0);
  -webkit-transition-property: background;
  transition-property: background;
}
[lightscroll] .scroll-bar .scroll {
  -webkit-transition-property: opacity, height;
  transition-property: opacity, height;
  background: -webkit-gradient(linear, left bottom, left top, from(#dfec59), to(#9c27b0));
  background: linear-gradient(0deg, #dfec59, #9c27b0);
  opacity: 0;
}
